/* h1{
    color: orange;
}
button{
    background-color: blue;
    color: white;
}
p{
    background-color: black;
    color: white;
} */


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

h1{
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
    font-family: leauge spartan;
    text-wrap: wrap;
}